<br>
<div class="container">
    <div class="row justify-content-md-center text-center separador">
        <div class="col-12 col-md-6">
            <div class="proposito separadorcito">
                <img src="./assets/img/prueba.jpg" class="imgproposito" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 servicios">
            <h2 class="">
                Misión:
            </h2>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center text-center separador">
        <div class="col-12 col-md-6">
            <div class="proposito separadorcito">
                <img src="./assets/img/prueba.jpg" class="imgproposito" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 mision">
            <h2 class="">
                Visión:
            </h2>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center text-center separador">
        <div class="col-12 col-md-6 separadorcito">
            <div class="proposito">
                <img src="./assets/img/prueba.jpg" class="imgproposito" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 servicios">
            <h2 class="">
                Valores:
            </h2>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="row justify-content-md-center text-center separador">
    <div class="col-12">
        <h2>
            Nuestros Magnates de la Medicina
        </h2>
    </div>
    <div class="col-12">
        <h6>
            Tenemos la mejor plana de doctores a su sevicio, con especializaciones y postgrados validados a nivel internacional.
        </h6>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgadministradores" alt="">
                    </div>
                </div>
                <h2 class="">
                    Pediatria
                </h2>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <br>
                <br>
                <p>
                    Clinica Jx le ofrece una especial dedicación 
                    en la atención de nuestros niños. 
                    Contamos con un equipo multidisciplinario 
                    de sub-especialidades pediátricas que le 
                    ofrecen su experiencia en la atención de niños
                    desde el nacimiento hasta su adolescencia.
                    <br>
                    Contamos con servicios para el diagnostico y
                    tratamiento personalizado en un ambiente cálido
                    y confortable.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgadministradores" alt="">
                    </div>
                </div>
                <h2 class="">
                    Pediatria
                </h2>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <br>
                <br>
                <p>
                    Clinica Jx le ofrece una especial dedicación 
                    en la atención de nuestros niños. 
                    Contamos con un equipo multidisciplinario 
                    de sub-especialidades pediátricas que le 
                    ofrecen su experiencia en la atención de niños
                    desde el nacimiento hasta su adolescencia.
                    <br>
                    Contamos con servicios para el diagnostico y
                    tratamiento personalizado en un ambiente cálido
                    y confortable.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgadministradores" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Pediatria
            </h2>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <br>
            <br>
            <p>
                Clinica Jx le ofrece una especial dedicación 
                en la atención de nuestros niños. 
                Contamos con un equipo multidisciplinario 
                de sub-especialidades pediátricas que le 
                ofrecen su experiencia en la atención de niños
                desde el nacimiento hasta su adolescencia.
                <br>
                Contamos con servicios para el diagnostico y
                tratamiento personalizado en un ambiente cálido
                y confortable.
            </p>
        </div>
    </div>
</div>
<br>
<br>